#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.sprite {
  width: 128px;
  height: 128px;
  border-radius: 1em;
  margin: 1em;
  padding: 0.5em;
  background-color: #FFFFFF;
}

.card {
  background-color: gainsboro;
  border-radius: 1em;
}

.card > p {
  font-weight: 700;
  color: #000000;
  margin: 0em;
  padding-bottom: 1em;
  font-size: 1.5em;
}