.gameover {
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(0.3em);
    height: 100vh;
    width: 100vw;
}

.popup {
    background-color: #2D3748;
    margin: 0;
    border-radius: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 1em 3em;
}

.popup > p {
    color: white;
}

p.title {
    font-weight: 700;
    font-size: 2em;
}

.reset {
    margin: 1em;
    padding: 0.5em 1em;
    background-color: #A7C4B5;
    border: none;
    border-radius: 0.5em;
}

@keyframes color-fade-2 {
    from {background-color: #A7C4B5;}
    to {background-color: #A9D8B8;}
}

.reset:hover {
    animation: color-fade-2;
    animation-duration: 0.5s;
    cursor: pointer;
}